* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  background-color: yellow;
  height: 100%;
  width: 80%;
  margin: auto;
}

.card{
	border: 1px black dotted;
	margin: 5px;
	position: relative;

}

.card h2{
	background: white;
	position: absolute;
	text-align: center;
	padding: 5px;
	border-style: solid;
	border-color: #42f4d4;
	border-width: 3px;
	outline: pink 2px solid;

}

.card img{
	width: 100%;
	display: block;
}

@media (min-width: 1024px){
	body{
		background: red;
	}
	.row{
		display: flex;
	}
}
